body {
  font-family: Arial;
  text-align: center;
  background: #1e1e1e;
  color: white;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 110px;
  height: 110px;
  background: #444;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.card.flipped img {
  display: block;
}


#winScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}